<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Successful</title>
    <link href="https://stripe-samples.github.io/developer-office-hours/demo.css" rel="stylesheet" type="text/css">

</head>
<!--<body>-->
<!--<div class="container">-->
<!--      <div class="header clearfix">-->
<!--        <nav>-->
<!--          <ul class="nav nav-pills float-right">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--        <h3 class="text-muted">Store</h3>-->
<!--      </div>-->

<!--      <div class="jumbotron">-->
<!--        <h1 class="display-3">Thank You</h1>-->
<!--          <h1>Payment was successful</h1>-->
<!--        <p class="lead">You will receive a link to The Product in your email.</p>-->
<!--      </div>-->

<!--      <footer class="footer">-->
<!--        <p>&copy; Store 2017</p>-->
<!--      </footer>-->

    </div> <!-- /container -->
<div id="main">
      <div id="container">
        <div id="panel"><br><br>
            <b><h1>THANK YOU!!</h1></b>
            <br><br>
           <h1>Your Payment was successful</h1><br><br>
            <a href="/">Go Home</a>
        </div>
      </div>
    </div>
</body>
</html>